
  <div class="loading-animation-container">
    <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
      <rect width="100" height="100" fill="black" rx="15" class="filter"/>
    </svg>
    <%= image_tag "love_death_robots.png", alt: "text" %>
  </div>
  <!--mainpagew/buttons&footer-->
  <div class= "main-menu-content">
  <div class="test">
    <div class="menu-message">
      <h1>Welcome back, Reader!</h1>
    </div>
    </div>
    <div class="main-menu-buttons">
      <%= link_to new_story_path, class: "main-menu-button new-story-button" do %>
        <div>
          <%= image_tag "inkpot-small.png", alt: "text" %>
          <h2 class="main-menu-button-text">New Story</h2>
        </div>
      <% end %>
      <%= link_to stories_path, class: "main-menu-button library-button" do %>
        <div>
          <%= image_tag "bookpiles-small.png", alt: "text" %>
          <h2 class="main-menu-button-text">Library</h2>
        </div>
      <% end %>
      <%= link_to flashcards_path, class:"main-menu-button flashcards-button"  do %>
        <div>
          <%= image_tag "gradcap-small.png", alt: "text" %>
          <h2 class="main-menu-button-text">Study</h2>
        </div>
      <% end %>
    </div>
  </div>

