<h1 class="text-center">Library</h1>
<!--ListsContainer-->
<div class="container">
  <div class="row">
    <div class="col col-md-6">
      <!--ContinueReadingStoriesList-->
      <button type="button" class="btn btn-primary" data-bs-toggle="button">Continue Reading</button>
      <div class="list-group">
        <% @unfinished_stories.each do |story|%>
          <div class= "border p-3">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> <%= link_to story.title, story_path(story) %> </h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1 text-truncate"><%= story.story_segments.from_ai.last.first_paragraph %></p>
            <%= link_to 'Flashcards', flashcards_index_url, class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col col-md-6">
      <!--FinishedStoriesList-->
      <button type="button" class="btn btn-primary" data-bs-toggle="button">Completed Stories</button>
      <div class="list-group">
        <% @completed_stories.each do |story|%>
          <div class= "border p-3">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> <%= link_to story.title, story_path(story) %> </h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1 text-truncate"><%= story.story_segments.from_ai.last.first_paragraph%></p>
            <%= link_to 'Flashcards', flashcards_index_url, class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
