<h1 class="text-center">Library</h1>
<!--ListsContainer-->
<div class="container big-black">
  <div class="row">
    <div class="col col-md-6">
      <!--ContinueReadingStoriesList-->
      <button type="button" class="btn btn-primary" data-bs-toggle="button">Continue Reading</button>
      <div class="list-group">
        <% 3.times do %> <!--doesnt exist in other version-->
          <% @stories.each do |story|%> <!--this used to say @unfinished_stories.each do |story|-->
            <div class= "border p-3">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> <%= story.title %> </h5> <!-- pe tag used to say link_to story.title, story_path(story)-->
                <small>3 days ago</small>
              </div><!--doesnt exist in other version-->
              <p class="mb-1 text-truncate"><%= story.story_segments.from_ai.last.first_paragraph %></p><!--doesnt exist in other version-->
              <%= link_to 'Flashcards', story_flashcards_path(story), class: "btn btn-success" %><!--doesnt exist in other version-->
            </div>
            <p class="mb-1 text-truncate"><%= story.story_segments.from_ai.last.first_paragraph %></p>
            <%= link_to 'Flashcards', flashcards_index_url, class: "btn btn-success" %>
            <% end %>
        <% end %>
          </div>
      </div>
    </div>
    <div class="col col-md-6">
      <!--FinishedStoriesList-->
      <button type="button" class="btn btn-primary" data-bs-toggle="button">Completed Stories</button>
      <div class="list-group">
        <% 3.times do %> <!--doesnt exist in other version-->
          <% @stories.each do |story|%> <!--er tag used to say @completed_stories.each do |story|-->
            <div class= "border p-3">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= story.title %></h5><!--pe tag used to say link_to story.title, story_path(story)-->
                <small>3 days ago</small>
              </div> <!--doesnt exist in other version-->
              <p class="mb-1 text-truncate"><%= story.story_segments.from_ai.last.first_paragraph%></p> <!--doesnt exist in other version-->
              <%= link_to 'Flashcards', story_flashcards_path(story), class: "btn btn-success" %> <!--doesnt exist in other version-->
            </div>
            <p class="mb-1 text-truncate"><%= story.story_segments.from_ai.last.first_paragraph%></p>
            <%= link_to 'Flashcards', flashcards_index_url, class: "btn btn-success" %>
            <% end %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
