<div class="story-show-page-container">
  <div class="book-div">
    <div class="book">
    <%# <%= image_tag "old_book.png", alt: "an old story book" %>
    <h1 class="blended-book-title"><%= @story.title %></h1>
    </div>
    <% if @story.story_segments.count == 2 %>
      <div class="story-links">
        <%= link_to 'Begin Reading', story_segment_path(@story_segment), class: ['btn', 'btn-success', 'story-link'] %>
        <%= link_to 'Back to Menu', root_path, class: ['btn', 'btn-success', 'story-link'] %>
      </div>
    <% elsif @choices_exist %>
      <div class="story-links">
        <%= link_to 'Continue Reading', story_segment_path(@story_segment), class: ['btn', 'btn-success', 'story-link'] %>
        <%= link_to 'Back to Menu', root_path, class: ['btn', 'btn-success', 'story-link'] %>
      </div>
    <% else %>
      <div class="story-links">
        <%= link_to 'Read again', story_segment_path(@story.story_segments.find_by(order: 1)), class: ['btn', 'btn-success', 'story-link'] %>
        <%= link_to 'Back to Menu', root_path, class: ['btn', 'btn-success', 'story-link'] %>
      </div>
    <% end %>
  </div>
</div>
