<div class="container pt-3">
  <h1 style="color: black;"><%= @story_segment.story.title %></h1>
  <h2 style="color: black;">Chapter: <%= @segment_num %></h2>
  <div class="container mt-4">
    <% if @story_segment.role == "assistant" %>
      <% @paragraphs.each_with_index do |paragraph, index| %>
        <p><%= paragraph %></p>
        <% if @story_segment.photo.attached? %>
          <%= cl_image_tag @story_segment.photo.key, width: 500, height: 500, crop: :fill %>
        <% else %>
          <p>No image attached.</p>
        <% end %>
        <% if @pagy_a.pages == @pagy_a.page && index == @paragraphs.size - 1 && @choices.present? %>
          <% @choices.each_with_index do |choice, index| %>
            <%= simple_form_for [@story_segment.story, StorySegment.new] do |f| %>
              <%= f.input :previous_story_segment_id, as: :hidden, input_html: { value: @story_segment.id } %>
              <%= f.input :choice, as: :hidden, input_html: { value: "#{index + 1}"} %>
              <%= f.submit choice, class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        <% elsif  @pagy_a.pages == @pagy_a.page && index == @paragraphs.size - 1 %>
          <h3>You have reached the end of the story.</h3>
          <%= link_to 'Back to Menu', root_path %>
          <%= link_to 'Back to Book Cover', story_path(@story_segment.story) %>
        <% end %>
      <% end %>
    <% end %>
  <%== pagy_nav(@pagy_a) %>
</div>
</div>
